
.fst_div{
    width: 100%;
    /* height: auto; */
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
}
.fst_div_start{
    display: flex;
    width: 100%;
    height: 8rem;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
    /* margin: auto; */
}
.imgdiv{
    display: flex;
    width: 100%;
    height: 1rem;
    justify-content: space-between;

    /* border: 1px solid; */
    
}
.imgdiv>div{
    /* border: 1px solid; */
    width: 32%;
    /* margin: auto; */
    
}
.img1{
    width: 100%;
    height: 10px;
 
}
.p1{
    font-size: 21px;
    font-weight: 700;
}
.middlediv{
    
    /* border: 1px solid; */
    text-align: center;
    height: 7rem;
}
.secondDiv{
    width: 100%;
    height: 19rem;
    /* border: 1px solid; */
    
    background-image: url("https://n.nordstrommedia.com/id/86cb85ca-559d-45c7-b276-7945fa02d93c.png?h=400&w=1608");
    background-size: 100%;
background-repeat: no-repeat;
background-position: calc(0% + 140px) ;
background-position-x: calc(0% + 5px);

/* background-position-y: bottom; */
/* width: 100%; */
/* height:425px; */
/* border-bottom: 1px solid rgba(250,93,0,100%); */

display:flex;
    
}
.save70{
position: absolute;

  top: 18%;

 // top: 39%;

  left: 32%;

}
.link{
    display: flex;
    width: 80%;
    /* border: 1px solid; */
    height:2rem;
    justify-content: space-around;

    position:relative;
  top: 70%;
  left: 12%;
  text-align: center;
  text-decoration: none;
}
.thirdDiv{
    /* border: 1px solid; */

  // commented while merging
 //   position: absolute;
 // top: 42%;
 // left: 12%;
 // text-decoration: none;
// }
// .thirdDiv{
// border: 1px solid;

    width: 100%;
    height: auto;
    display: flex;
    margin-top: 4%;
}
.thirdDiv>div{
    width: 50%;
}
.blackbackground{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    
}
.fourth_div{
    /* border: 1px solid; */
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 4%;
    justify-content: space-between;
}
.p3{
    font-size: 25px;
    font-weight: 700;
}
.viewProducts{

    border: 1px solid;

    /* border: 1px solid; */

    text-decoration: none;
    padding: 10px 20px 10px 10px;
}
.viewProducts:hover{
    cursor: pointer;
    border: none;
    background-color: rgb(179, 178, 178);
   text-decoration-color: black;
}


.carosalNavbar{
    /* border: 1px solid; */
    display: flex;
    width: 50%;
    justify-content: space-between;

}
.carosalNavbar>p:hover{

    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
    /* text-decoration: none; */
    text-decoration-color: black;

}
.carosal{
    /* border: 1px solid; */
    width: 100%;
    height: 27rem;
    margin-top: 2%;
}
.fifth_Div{
    background-image: url("https://n.nordstrommedia.com/id/222433e7-c339-48c2-b05c-d994d87a4a97.jpeg?h=200&w=1608");
    width: 100%;
    height: 10rem;
    margin-top: 2%;
    background-size: 100%;
background-repeat: no-repeat;
background-position: calc(0% + 140px) ;
background-position-x: calc(0% + 5px);
border: 1px solid white
}
.fifth_Div>div{
    width: 50%;
    /* position: absolute; */
    height: 8rem;
    /* border: 1px solid; */
    margin-top: 3%;
    margin-left: 8%;
    

}
.fifth_Div_text{
    font-size: 21px;
    
}
.fifth_Div_text_two{
    /* border: 1px solid; */
    width: 70%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    text-decoration-color: black;
    
}
.line{
    width: 100%;
    height: 12px;
    margin-top: 5%;

}
.line>img{
    width: 100%;
    height: 100%;
}

.sixth_div{
    background-image: url("https://n.nordstrommedia.com/id/706917ad-140f-4af0-94f3-cbe08a9f9c9d.png?h=300&w=1608");
    width: 100%;
    height: 16rem;
    margin-top: 5%;
    background-size: 100%;
background-repeat: no-repeat;
background-position: calc(0% + 140px) ;
background-position-x: calc(0% + 5px);
border: 1px solid white;
}
.sixth_div>div{
    /* border: 1px solid; */
    width: 50%;
    height: 6.8rem;
    margin: auto;
    margin-top: 12%;
    text-align: center;
    
}
.buttons{
    /* border: 1px solid; */
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 2%;
    justify-content: space-between;
}
.buttons>button{
    padding: 10px 20px 10px 20px;
    border: 1px solid;

}
.AutoCarosal{
    margin-top: 5%;
}






