.fstDiv{
    width: 100%;
    height: 100%;
    /* display: block;
  
  
  height: 35rem;
  width: 100%;
  background-color: blue;
  color: black;
   margin:10px;  */
}
.fstDiv>img{
    width: 100%;
    height: 100%;
}
/* @media screen and (min-width:950px) and (max-width:1000px) {
    .fstDiv{
        border: 1px solid;
        height: 70%;
    } 
} */

@media screen and (min-width:350px) and (max-width:950px) {

    .fstDiv{
        border: 1px solid;
        /* margin-top: 10%; */
    }
}