@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}



html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px ;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}


.brand {
    font-weight: bold;
    font-size: 27px; }
  
  .site-header__top {
    background-color: white; }
    .site-header__top ul {
      display: flex; }
    .site-header__top li:not(:last-child) {
      margin-right: 1.5rem; }
    .site-header__top .site-header__start {
      display: none; }
  
  .site-header__bottom {
    position: relative;
    background-color: white; }
    @media (max-width: 939px) {
      .site-header__bottom .site-header__end {
        order: -1; } }
  .site-header__wrapper {
    display: flex;
    justify-content: space-between; }
  
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; }
    @media (min-width: 940px) {
      .site-header__wrapper {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; } }
    @media (min-width: 940px) {
      .site-header__top .site-header__wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem; } }
  .nav {
    margin-left: 1rem;
    margin-right: 1rem; }
  
  @media (min-width: 940px) {
    .nav__wrapper {
      display: flex; } }
  
  @media (max-width: 939px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: white;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
  
  .nav__item a {
    display: block;
    padding: 1.5rem 1.25rem; }
  
  .nav__item svg {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-right: 1rem; }
    @media (min-width: 940px) {
      .nav__item svg {
        display: block;
        margin: 0 auto 0.5rem; } }
  .nav__item.active a {
    border-left-color: #222; }
    @media (min-width: 800px) {
      .nav__item.active a {
        border-bottom-color: #222; } }
  .nav__toggle {
    position: absolute;
    right: 1rem;
    top: 1rem; }
    @media (min-width: 940px) {
      .nav__toggle {
        display: none; } }
  .search {
    display: flex; }
  
  .search__toggle {
    appearance: none;
    order: 1;
    font-size: 0;
    width: 34px;
    height: 34px;
    background: url("https://www.cssscript.com/demo/header-navbar-templates/img/header-3/search.svg") center/22px no-repeat;
    border: 0; }
    @media (max-width: 939px) {
      .search__toggle {
        position: absolute;
        right: 5.5rem;
        top: 0.65rem; } }
    .search__toggle.active {
      /* background: url("../img/header-5/close.svg") center/22px no-repeat;  */
    }
  
  .search__form {
    display: none; }
    .search__form.active {
      display: block; }
    @media (max-width: 799px) {
      .search__form {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: red; }
        .search__form input {
          width: 100%; } }
    .search__form input {
      min-width: 200px;
      appearance: none;
      border: 0;
      background-color: #fff;
      border-radius: 0;
      font-size: 16px;
      padding: 0.5rem; }
      @media (max-width: 799px) {
        .search__form input {
          border-bottom: 1px solid #979797;
         }
        
         .nav>ul{
            width:250px;
            background-color: rgb(248, 244, 244);
            
            
         }
        }


.nav>ul{
    z-index:1000;
    /* border:1px solid red; */
    margin-top: 15px;
    
   
}




          .navBarDiv {
            background-color: white;
            padding-bottom: 1px;
            margin-bottom: 30px;
        }
        
        .navBarDiv nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .navbar_logo {
            width: 15%;
            margin: 33px 30px;
            cursor: pointer;
        }
        
        .navbar_search {
            width: 50%;
            /* border: 1px solid;
            height: 3rem; */
        }
        .fstDiv{
            width: 100%;
            height: 40px;
            background-color: red;
            color: white;
            text-align: center;
        }
        
        .navbar_search input {
            width: 90%;
            border: 1px solid gray;
            outline: none;
            background-color: transparent;
            padding: 13px 10px;
        }
        
        .navbar_cart {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-right: 30px;
            align-items: center;
            cursor: pointer;
        }
        .extradiv{
            /* border: 1px solid red; */
            display: flex;
            width: 30%;
            justify-content: space-around;
        }
        
        .navbar_cart i {
            font-size: 25px;
            margin-top: -3px;
        }
        .signin{
            font-size: 15px;
            font-weight: 500;
            /* margin-top: 100%; */
            
        }
        
        
         hr {
            width: 100%;
            /* margin-left: 10%; */
            border:1px solid gray;
        }
        
        .menu_div {
            display: flex;
            justify-content: space-evenly;
            cursor: pointer;
            padding: 20px 0 15px 0;
        }
        
        .menu_div span {
            color: rgb(60, 57, 57) !important;
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
        }
        
        .menu_div span:hover {
            border-bottom: 2px solid black;
        }
        
        .menu_div span:first-child {
            color: red;
        }
        
        .menu_div span:first-child:hover {
            border-bottom: 2px solid red;
        }
        
        .menu_div span:last-child:hover {
            border-bottom: 2px solid white;
        }
        
        .menu_div span:last-child {
            color: rgb(29, 116, 188);
        }


       