.product-view{
    padding: 0rem 30px 20px 30px;
    width: 100%;
    height: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
}
.pv-overview{
    width: 100%;
    display: flex;
}
/* product images */
.ov-images{
    width: 45%;
    padding-right: 5%;
}
.ov-images>div{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.ov-images>div>.ov-img{
    padding: 2px;
    overflow: hidden;
}
.ov-images>div>.ov-img>img{
    width: 100%;
    transition: transform .5s ease;
}
.ov-images>div>.ov-img>img:hover{
    transform: scale(1.5);
    cursor:crosshair;
}

/* product description */
.ov-desc{
    width:45% ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    padding:0px 6% 0px 10px;
}
.ov-desc>.o-stars{
    padding: 5px 5px 5px 0px;
    display: flex;
    flex-direction: row;
}
.ov-desc>.o-stars>.ov-star{
    display: flex;
    flex-direction: row;
}
.ov-desc>.o-stars>div:nth-child(2){
    margin-top: -5px;
}
.ov-desc>.o-stars>div>p{
    font-size: 14px;
    padding: 5px;
    color:#636161;
}
.ov-desc p{
    color:#636161;
}
.ov-desc>.product-name{
    margin-top: -6px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    font-size: 21px;
    font-weight: 100;
}
.ov-desc>.p-ugg,.mlike-container>.mlc-down>p{
    font-size: 12px;
}
.ov-desc>.p-ugg>sup,.mlike-container>.mlc-down>p>sup{
    font-size: 13px;
}
.ov-desc>.product-price{
    color: rgb(48, 48, 48);
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}
.ov-desc>.origin-p{
    text-decoration: line-through;
    color: rgb(213, 52, 52);
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
}
.ov-desc>.product-desc{
    font-size: 12px;
    margin-bottom: 10px;
}
.ov-desc>#p-size,.ov-desc>#product-color{
    padding: 10px 10px;
    width: 98%!important;
    border: 1px solid #bcbcbc;
    font-size: 13px;
    color: #2f2f2f;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}
.ov-desc>#p-size:hover,.ov-desc>#product-color:hover{
    border-bottom: 3px solid #636161;
}
.ov-desc>.ps-guide{
    text-align: right;
    font-size: 13px;
    text-decoration: underline;
    margin-right: 10px;
    padding-top: 20px;
    margin-bottom: 5px;
    color: #464646;
}
.ov-desc>.p-view{
    font-size: 12px;
    color: rgb(234, 50, 50);
    padding-top: 1.5rem;
}
.ov-desc>.p-view>span{
    font-weight: 600;
}
.ov-desc>.pv-addToBag{
    padding: 10px 5px;
    width: 98%!important;
    display: flex;
    border: 1px thin #636161;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: black;
    margin-bottom: 20px;
}
.ov-desc>.pv-addToBag>p{
    color: white;
    font-weight: 600;
    padding-top: 6px;
}
.ov-desc>.pv-addToBag>#pv-bag{
    padding-right: 10px;
    font-size: 29px;
    color: white;
    margin-left: 40%;
}
.ov-desc>.p-wish{
    display: flex;
    font-size: 13px;
    color: #464646;
}
.ov-desc>.p-wish>p{
    margin-left: 5px;
}
.ov-desc>.p-wish>#pv-plus{
    font-size: 18px;
}

/* You might like portion*/
.ov-mLike{
    width: 10%;
    padding: 5px 10px;
}
.ov-mLike-head{
    padding: 0px 10px;
    font-size: 14px;
    text-align: center;
    color: #464646;
}
.mlike-container{
    padding: 5px 10px;
}
.mlike-container>.mlc-up>img{
    width: 100%;
}
.mlike-container>.mlc-up>.mlike-popular{
    background-color: rgba(239, 245, 251, 0.542);
    font-size: 12px;
    overflow:hidden;
}
.mlike-container>.mlc-up>button{
    position: absolute;
    display: none;
    font-size: 12px;
    padding: 10px 16px;
    margin-top: -40px;
    background-color: rgba(239, 245, 251, 0.542);
}
.mlike-container>.mlc-up:hover>button{
    display: block;
    border: 1px solid gainsboro;
    outline: none;
}
.mlike-container>.mlc-down>p:nth-child(2){
    color: #d32525;
    font-weight: 600;
    font-size: 13px;
}
/* product gifts and more info css */
.p-info{
    width: 60%;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}
.p-info>.p-sizeinfo,.p-info>.p-gift{
    width: 50%;
    padding: 2px 10px 2px 2px;
}
.p-info>.p-sizeinfo>h2,
.p-info>.p-gift>h2{
    font-size: 17px!important;
    font-size: 700!important;
    color: #2f2f2f;
    padding: 10px 0px;
}
.p-info>.p-sizeinfo>ul>li,
.p-info>.p-gift>ul>li{
    font-size: 11px;
    color: #464646;
    margin-left: 20px;
}
.p-info>.p-sizeinfo>p,
.p-info>.p-gift>p{
    font-size: 11px;
    color: #464646;
}
.p-info>.p-sizeinfo>p:nth-child(6){
    font-weight: 600;
    color: black;
}
.p-info>.p-sizeinfo>p>a{
    color: #464646;
}
.p-info>.p-gift{
    padding-left: 20px;
}
.p-info>.p-gift>h2{
    display: flex;
}
.p-info>.p-gift>h2>p{
    margin-left: 5px;
}
.p-info>.p-gift>ul>li{
    list-style: none;
    padding: 5px 0px;
    display: flex;
}
.p-info>.p-gift>h3{
    font-size: 15px;
}
.p-info>.p-gift>p:nth-child(7){
    font-weight: 600;
    color: black;
}
.p-info>.p-gift>.shop-gift{
    padding: 8px 100px;
    border: 1px solid gray;
    outline: none;
    background-color: #bbb9b930;
    font-size: 13px;
    margin-bottom: 30px;
}
.p-info>.p-gift>a{
    padding-right: 30px;
    color: #464646;
    font-weight: 700;
}
.p-info>.p-gift>p{
    padding-top: 20px;
}